* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 11rem);
  grid-template-rows: repeat(4, 11rem);
  perspective: 1000px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  padding-bottom: 25px;
}

img {
  width: 140px;
  height: 140px;
  position: absolute;
}

.backCard {
  position: absolute;
  background-color:black;
  width: 150px;
  height: 150px;
  backface-visibility: hidden;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform .7s;
}

.flippedCard {
  transform: rotateY(180deg); 
}