* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.whole-game {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.cards {
  display: grid;
  place-items: center;
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 5px;
}

.cards img {
  width: auto;
  max-height: fit-content;
  width: 120px;
  height: 120px;
  opacity: 0;
}

.flipCard {
  transform: rotateY(180deg);
}

.card.correct img {
  opacity: 100;
  background-color:green;
}